
build
.gradle
FlashTanki.mv.db
install.bat
restart.bat
start.bat
taraGUI.exe
.idea/gradle.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/gradle.xml
.idea/gradle.xml
FlashTanki.trace.db
